<mat-drawer-container class="main-container">

  <!-- side nav menu -->
  <mat-drawer #navbar class="navbar" mode="push" [opened]="true">
    <app-navbar></app-navbar>
  </mat-drawer>

  <!-- App content -->
  <mat-drawer-content class="content">

    <!-- Toolbar Content -->
    <mat-toolbar class="bg-main-light shadow-sm">
      <button mat-icon-button (click)="navbar.open()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>

    <!-- The page Content -->
    <div class="row m-5 p-5 bg-main-light">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>

</mat-drawer-container>
